<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form method="post">
        <input type="text" name="comment" placeholder="Комментарий"/>
        <button type="submit">Зарегистрировать</button>
    </form>


</div>
<a href="allorders">Вернуться ко всем</a>
</body>
</html>